<mat-drawer mode="side" opened>
  <mat-nav-list role="list">
    <mat-list-item role="listitem" routerLink="/featured">
      <div>
        <mat-icon mat-list-icon>home</mat-icon>
        <a matLine>Home</a>
      </div>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/subscriptions">
      <div>
        <mat-icon mat-list-icon>subscriptions</mat-icon>
        <a matLine>Subscriptions</a>
      </div>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/history">
      <div>
        <mat-icon mat-list-icon>history</mat-icon>
        <a matLine>History</a>
      </div>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/liked-videos">
      <div>
        <mat-icon mat-list-icon>thumb_up</mat-icon>
        <a matLine>Liked Video</a>
      </div>
    </mat-list-item>
  </mat-nav-list>
</mat-drawer>


